<header class="header">
    <div class="container">
        <div class="header-area">
            <div class="logo">
                <a href="/">
                    <h1>Movie App</h1>
                </a>
            </div>
        </div>
    </div>
</header>
<section class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-area-content">
                    <h2>{{shared.breadcrumbText}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>